
@import "bootstrap";

#instagram {  font-family: 'Grand Hotel', cursive;
              color: black;
              font-size: 40px;
}

body {
       background-color: #fafafa;
}

.navbar {
      background-color: white;
}


.logo {
  height: 80px;

}

.btn-secondary {
  background-color: black;

}
.btn-primary {
    background-color: white;
    border-color: white;
}

.heart {
  width: 50px;
}
